{% extends 'layout.html' %}
{% block content %}
{% load static %}

<header class="row bg-black">
    <div class="col-md-4">
<img src="{% static 'cristiano ronaldo.jpg' %}" width="300" height="300" />
</div>

<div class="col-md-8 my-auto">
    <h1> <strong>Yo soy Cristiano Ronaldo</strong></h1>
    <h3> <strong>Y esta es mi historia</strong></h3>
    <p>Cristiano Ronaldo dos Santos Aveiro, es un futbolista portugués. Juega como extremo 
       izquierdo o delantero y su equipo actual es el Al-Nassr F. C. de la Liga Profesional 
       Saudí.​</p>
    <a
      href="{% static 'ronaldito.pdf' %}"
      class="btn btn-primary btn-lg rounded-0 my-3"
      >DESCARGAR</a
    >
</div>
</header>

<div class="row my-4 text-center">
    <h3>Equipos donde fuí miembro</h3>
    <p>El fútbol es el amor de mi vida y mi pasión.</p>
    {% for project in projects %}

    <div class="col-md-4">
        <div class="card bg-black card-project text-light">
             <div class="card-boddy">
                <h2>{{project.title}}</h2> <p>{{project.description}}</p>
    <img src="{{project.image.url}}" alt="{{project.title}}" class="img-fluid" />
    
    {% if project.url %}
    <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="_blank">{{project.url}}</a>

    {% endif %} 
             </div>  
        </div>
    </div>
    {% endfor %} 
    {% endblock %} 

</div>
